<!-- Page Footer-->
<footer class="page-footer">
    <div class="shell section-70 section-lg-120">
      <div class="range text-md-left">
        <div class="cell-md-4">
          <h5>About</h5>
          <p class="offset-top-20 offset-md-top-36">We’re hunting for the best gems on the American real estate market. With our help you’ll find any house that you want to, be it a humble winter cottage in the state of Maine, a median summer apartment in Austin, TX or a huge residential building along Santa Monica beaches in California...</p>
        </div>
        <div class="cell-md-4">
          <h5>Recent posts</h5>
          <div class="post-blog-sm offset-top-20 offset-md-top-36"><a href="blog-single-post.html" class="text-bold">A beach house at Baja California peninsula</a>
            <p class="small offset-top-7">July 7, 2016</p>
          </div>
          <div class="post-blog-sm offset-top-16"><a href="blog-single-post.html" class="text-bold">Cottage with a big pool in Phoenix suburbs, AZ</a>
            <p class="small offset-top-7">July 7, 2016</p>
          </div>
        </div>
        <div class="cell-md-4">
          <h5>Tags</h5>
          <ul class="offset-top-20 offset-md-top-36 group">
            <li><a href="blog.html" class="btn btn-tag">Apartments</a></li>
            <li><a href="blog.html" class="btn btn-tag">Office</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="shell">
      <hr>
    </div>
    <div class="shell section-30">
      <div class="range range-xs-middle">
        <div class="cell-sm-6 text-sm-right cell-sm-push-1">
          <ul class="list-inline">
            <li><a href="#" class="icon icon-sm text-primary fa-facebook"></a></li>
            <li><a href="#" class="icon icon-sm text-primary fa-twitter"></a></li>
            <li><a href="#" class="icon icon-sm text-primary fa-google-plus"></a></li>
          </ul>
        </div>
        <div class="cell-sm-6 text-sm-left offset-top-20 offset-sm-top-0">
          <p class="small">HomePRO &#169;<span id="copyright-year"></span>. <a href="privacy.html" class="text-gray">Privacy Policy</a>
            <!-- {%FOOTER_LINK}-->
          </p>
        </div>
      </div>
    </div>
  </footer>