{% load static %}
<!-- Page Header-->
<header class="page-header">
    <!-- RD Navbar-->
    <div class="rd-navbar-wrap">
      <nav data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-sm-stick-up-offset="150px" data-md-stick-up-offset="1px" data-lg-stick-up-offset="150px" class="rd-navbar">
        <button data-rd-navbar-toggle=".rd-navbar-collapse" class="rd-navbar-collapse-toggle"><span></span></button>
        <div class="rd-navbar-top-panel rd-navbar-collapse">
          <div class="rd-navbar-inner">
            <div class="small">Please <a href="#" data-toggle="modal" data-target="#loginModal">login</a> or <a href="#" data-toggle="modal" data-target="#registerModal">register</a> to create a new listing</div>
            <ul class="list-inline">
              <li><a href="#" class="icon icon-sm text-primary fa-facebook"></a></li>
              <li><a href="#" class="icon icon-sm text-primary fa-twitter"></a></li>
              <li><a href="#" class="icon icon-sm text-primary fa-google-plus"></a></li>
            </ul>
          </div>
        </div>
        <div class="rd-navbar-panel">
          <!-- RD Navbar Panel-->
          <div class="rd-navbar-inner">
            <!-- RD Navbar Toggle-->
            <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
            <!-- RD Navbar Brand-->
            <div class="rd-navbar-brand"><a href="{% url 'home' %}" class="brand-name"><img src="{% static 'images/logo.png' %}" width="205" height="27" alt=""></a></div>
            <div class="rd-navbar-contacts rd-navbar-collapse rd-navbar-collapse-2"><span class="semi-small">Get in touch with us</span>
              <div><span class="icon fa-comments-o text-primary"></span><a href="{% url 'contact' %}">Contact</a></div>
            </div>
          </div>
        </div>
        <div class="rd-navbar-nav-wrap">
          <div class="rd-navbar-inner">
            <!-- RD Navbar Nav-->
            <ul class="rd-navbar-nav">
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'search' %}">Search</a>
                <!-- <ul class="rd-navbar-dropdown">
                  <li><a href="idx-1.html">For Sale</a></li>
                  <li><a href="idx-2.html">Sold</a></li>
                </ul> -->
              </li>
              <li><a href="{% url 'projects' %}">Projects</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>