{% extends 'base.html' %}
{% block content %}
{% load static %}

{% include 'landing/partials/navbar.html' %}

<!-- Page Content-->
<main class="page-content">
        <section class="bg-gray-lighter">
          <div class="shell text-left">
            <ol class="breadcrumb">
              <li><a href="./">Home</a></li>
              <li class="active">Pricing Table
              </li>
            </ol>
          </div>
        </section>
  <section class="section-top-70 section-bottom-80">
    <div class="shell">
      <h3>Pricing Table</h3>
      <div class="range-xs-center range offset-top-40">
        <div class="cell-md-4 cell-sm-10">
          <div class="pricing-box">
            <div class="pricing-box-header">
              <h3>Economy</h3>
              <div class="pricing-box-price">$ 45.89</div>
              <div class="pricing-box-price-subtitle">Per/day</div>
            </div>
            <div class="pricing-box-body">
              <p>Double room 26.7 sq m (292 sq ft) on average and a 5.4 sq m bathroom (most bathrooms equipped with a bidet).</p><a href="#" class="btn btn-primary">read more</a>
            </div>
          </div>
        </div>
        <div class="cell-md-4 cell-sm-10 offset-top-40 offset-md-top-0">
          <div class="pricing-box pricing-box-primary">
            <div class="pricing-box-header">
              <h3>Standard</h3>
              <div class="pricing-box-price">$ 75.89</div>
              <div class="pricing-box-price-subtitle">Per/day</div>
            </div>
            <div class="pricing-box-body">
              <p>Double room 26.7 sq m (292 sq ft) on average and a 5.4 sq m bathroom (most bathrooms equipped with a bidet).</p><a href="#" class="btn btn-white">read more</a>
            </div>
          </div>
        </div>
        <div class="cell-md-4 cell-sm-10 offset-top-40 offset-md-top-0">
          <div class="pricing-box">
            <div class="pricing-box-header">
              <h3>Luxury</h3>
              <div class="pricing-box-price">$ 95.89</div>
              <div class="pricing-box-price-subtitle">Per/day</div>
            </div>
            <div class="pricing-box-body">
              <p>Double room 26.7 sq m (292 sq ft) on average and a 5.4 sq m bathroom (most bathrooms equipped with a bidet).</p><a href="#" class="btn btn-primary">read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}