{% extends 'base.html' %}
{% block content %}
{% load static %}

{% include 'landing/partials/navbar.html' %}

<!-- Page Content-->
<main class="page-content">
  <section class="bg-gray-lighter">
    <div class="shell text-left">
      <ol class="breadcrumb">
        <li><a href="./">Home</a></li>
        <li class="active">404 Not Found
        </li>
      </ol>
    </div>
  </section>
  <section class="section-top-70 section-bottom-80">
    <div class="shell">
      <h3>Home ideas gallery list</h3>
      <p class="offset-top-32">Get an awe inspiration for your home interior! Here we’ve compiled a great amount of incentive home designs. This pinboard will help you in creating an absolutely unique look and feel of your property, by browsing through the best choices in these galleries!</p>
    </div>
    <div class="row offset-top-40">
      <!-- Isotope Filters-->
      <div class="col-lg-12">
        <div class="isotope-filters isotope-filters-horizontal">
          <ul class="nav nav-tabs">
            <li><a data-isotope-filter="*" data-isotope-group="gallery" href="#" class="active">All</a></li>
            <li><a data-isotope-filter="Category 1" data-isotope-group="gallery" href="#">Apartments</a></li>
            <li><a data-isotope-filter="Category 2" data-isotope-group="gallery" href="#">Residential</a></li>
            <li><a data-isotope-filter="Category 3" data-isotope-group="gallery" href="#">Villas</a></li>
          </ul>
        </div>
      </div>
      <!-- Isotope Content-->
      <div class="col-lg-12 offset-top-30">
        <div data-isotope-layout="fitRows" data-isotope-group="gallery" class="isotope">
          <div class="row row-no-gutter">
            <div data-filter="Category 3" class="col-xs-12 col-sm-6 col-lg-4 isotope-item">
                    <!-- Thumbnail-->
                    <div class="thumbnail"><img src="{% static 'images/post-04.jpg' %}" width="640" height="483" alt="" class="img-responsive center-block">
                      <div class="caption">
                        <div class="caption-inner">
                          <h3><a href="project-single.html">Art decor styled dining hall</a></h3>
                          <p><a href="#">Emilia Warren</a></p>
                        </div>
                        <div><a href="project-single.html" class="btn"></a></div>
                      </div>
                    </div>
            </div>
            <div data-filter="Category 1" class="col-xs-12 col-sm-6 col-lg-4 isotope-item">
                    <!-- Thumbnail-->
                    <div class="thumbnail"><img src="{% static 'images/post-05.jpg' %}" width="640" height="483" alt="" class="img-responsive center-block">
                      <div class="caption">
                        <div class="caption-inner">
                          <h3><a href="project-single.html">Italian inspired living room</a></h3>
                          <p><a href="#">Emilia Warren</a></p>
                        </div>
                        <div><a href="project-single.html" class="btn"></a></div>
                      </div>
                    </div>
            </div>
            <div data-filter="Category 1" class="col-xs-12 col-sm-6 col-lg-4 isotope-item">
                    <!-- Thumbnail-->
                    <div class="thumbnail"><img src="{% static 'images/post-06.jpg' %}" width="640" height="483" alt="" class="img-responsive center-block">
                      <div class="caption">
                        <div class="caption-inner">
                          <h3><a href="project-single.html">Oyster-grey Mediterranean styled kitchen</a></h3>
                          <p><a href="#">Warren Kalhoney</a></p>
                        </div>
                        <div><a href="project-single.html" class="btn"></a></div>
                      </div>
                    </div>
            </div>
            <div data-filter="Category 2" class="col-xs-12 col-sm-6 col-lg-4 isotope-item">
                    <!-- Thumbnail-->
                    <div class="thumbnail"><img src="{% static 'images/post-07.jpg' %}" width="640" height="483" alt="" class="img-responsive center-block">
                      <div class="caption">
                        <div class="caption-inner">
                          <h3><a href="project-single.html">Sicily inspired, sunny white bedroom</a></h3>
                          <p><a href="#">Emilia Warren</a></p>
                        </div>
                        <div><a href="project-single.html" class="btn"></a></div>
                      </div>
                    </div>
            </div>
            <div data-filter="Category 2" class="col-xs-12 col-sm-6 col-lg-4 isotope-item">
                    <!-- Thumbnail-->
                    <div class="thumbnail"><img src="{% static 'images/post-08.jpg' %}" width="640" height="483" alt="" class="img-responsive center-block">
                      <div class="caption">
                        <div class="caption-inner">
                          <h3><a href="project-single.html">White Welsh style for a living room</a></h3>
                          <p><a href="#">Timothy Levine</a></p>
                        </div>
                        <div><a href="project-single.html" class="btn"></a></div>
                      </div>
                    </div>
            </div>
            <div data-filter="*" class="col-xs-12 col-sm-6 col-lg-4 isotope-item">
                    <!-- Thumbnail-->
                    <div class="thumbnail"><img src="{% static 'images/post-09.jpg' %}" width="640" height="483" alt="" class="img-responsive center-block">
                      <div class="caption">
                        <div class="caption-inner">
                          <h3><a href="project-single.html">Scottish, blue and yellow dining hall</a></h3>
                          <p><a href="#">Warren Kalhoney</a></p>
                        </div>
                        <div><a href="project-single.html" class="btn"></a></div>
                      </div>
                    </div>
            </div>
          </div>
        </div>
        <div class="offset-top-30">
                <!-- Bootstrap Pagination-->
                <nav>
                  <ul class="pagination pagination">
                    <li class="active"><span>1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#" aria-label="Next" class="btn"><span aria-hidden="true">Next</span></a></li>
                  </ul>
                </nav>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}